.project {
  display: block;
  max-width: 780px;
  margin: 40px auto;

  border-radius: 13px;
  background-color: #ffffff;
}
.container {
  display: block;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.logo {
  width: 170px;
  display: block;
  margin: 15px 15px 25px 25px;
}
.forecast {
  display: block;
  margin: 0px 15px;
  padding: 15px 15px 15px 15px;
}

#search-city {
  display: block;
  padding: 15px 15px 15px 15px;
  background-color: #e7faf9;
  color: #828a96;
  border: none;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
#search-btn {
  display: block;
  padding: 11px 15px 11px 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: #385170;
  border-color: #385170;
}
#city-row {
  margin-top: 10px;
}
#chosen-city {
  display: block;
  padding: 45px 0px 0px 20px;
}
.big-font {
  font-size: 38px;
  color: #142d4c;
  font-weight: 700;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
.biggest-font {
  font-size: 60px;
  color: #142d4c;
  font-weight: 700;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.units {
  position: relative;
  font-size: 22px;
  color: #000000;
  font-weight: 300;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  top: -34px;
}
ul {
  list-style: none;
  margin-left: -30px;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #5cc1b3;
}
li::first-letter {
  text-transform: capitalize;
}
#humidity,
#wind,
#percent,
#km {
  color: #f65282;
}
#main-icon {
  width: 120px;
  padding-bottom: 60px;
}
#main-temperature {
  text-align: center;
  padding-top: 30px;
}
.active {
  cursor: default;
  color: #142d4c;
  text-decoration: none;
}
#celsius-unit {
  text-decoration: none;
}
#fahrenheit-unit {
  text-decoration: none;
}
#author {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #a0aaa8;
  display: block;

  position: relative;
  top: -30px;

  max-width: 780px;
  margin: 40px auto;
}
.source-link {
  text-decoration: none;
}
#forecast-row-multi {
  text-align: center;
  margin-bottom: 15px;

  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.day-multi {
  font-size: 24px;
  color: #a7bcb9;
}
.temp-multi {
  color: #535e6d;
  font-size: 18px;
}
.temp-multi-min {
  font-size: 17px;
  color: #142d4c;
  opacity: 0.5;
}
